<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wpy.cqu.xiaodi">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 其他权限 短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        tools:replace="android:name"
        android:name=".application.XiaodiApplication"
        android:allowBackup="true"
        android:icon="@drawable/xiaodi_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcome.AcWelcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".guide.AcGuide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.AcLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.AcHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.AcRegisterVertifyCode"
            android:screenOrientation="portrait" />
        <activity android:name=".register.AcRegister"
            android:screenOrientation="portrait"/>
    </application>

</manifest>